body {
  background-color: cadetblue;
  color: white;
}

header {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  text-align: left;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  padding: 5px;
  margin: 0px;
  text-align: justify;
}

.container {
  max-width: 1000px;
  margin: 20px;
  padding: 10px;
}

/*.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}*/

.column {
  flex: 1;
  padding: 10px;
}

@media (max-width: 400px) {
  .column {
    flex: 100px;
  }
}

.img-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  flex-direction: column;
}

.container nav {
  display: flex;
  padding: 15px;
  height: 10px;
  margin-left: 10px;
  background-color: whitesmoke;
  color: cadetblue;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  display: flex;
  justify-content: left;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
  margin: 15px;
  font-size: large;
}


a {
  color: cadetblue;
  text-decoration: none;
}


.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}

nav a:hover {
  color: blue;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }


  .nav-links {
    display: none;
  }


  .button-menu-toggle {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;


  }
}

.video-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin: 10px;
}

iframe,
video {
  max-width: 90%;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  color: cadetblue;
  text-align: center;
}
h5 {
  margin: 5px;
  padding: 0%;
}

form {
  margin: 20px;
}

.greeting {
  margin: 50px;
  text-align: center;
  color: white;
}